<div class="justify-content-between d-flex"
  style=" background: white; padding: 0.5rem 1rem; margin: auto 1rem;  box-shadow: 0 0 5px hsl(0, 0%, 90%);">
  <h5>Quản lý tài khoản người dùng</h5>
  <div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</div>
<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th class="w-10">ID</th>
        <th class="w-25">Email</th>
        <th class="w-40">Họ tên</th>
        <th class="w-25 text-right">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>110000</td>
        <td>nguyenvana@mail.com</td>
        <td>Nguyễn Văn A</td>
        <td class="text-right">
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-info-circle"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-edit"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-trash-alt"></i>
            </a>
          </button>
        </td>
      </tr>
      <tr>
        <td>120000</td>
        <td>nguyenthib@mail.com</td>
        <td>Nguyễn Thị Bê</td>
        <td class="text-right">
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-info-circle"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-edit"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-trash-alt"></i>
            </a>
          </button>
        </td>
      </tr>
      <tr>
        <td>110050</td>
        <td>nguyenvanc@mail.com</td>
        <td>Nguyễn Văn C</td>
        <td class="text-right">
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-info-circle"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-edit"></i>
            </a>
          </button>
          <button class="btn">
            <a href="/account-detail">
              <i class="fas fa-trash-alt"></i>
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>