<section class="container">
    <table class="table paper table-striped">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th class="col-3">Mã sản phẩm</th>
                <th class="col-3">Thương hiệu</th>
                <th class="col-4">Tên sản phẩm</th>
                <th class="col-2 text-right">Số lượng</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr class="d-flex">
                <td class="col-3">{{this.productID}}</td>
                <td class="col-3">{{this.brand}}</td>
                <td class="col-4">{{this.name}}</td>
                <td class="col-2 text-right">{{this.noOfPurchased}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>