<section class="container">
	<form class="paper" action="/products/add" method="POST" enctype="multipart/form-data" data-parsley-validate="">
		<div class="form-group d-flex">
			<label for="brand" class="col-12 col-md-3">Thương hiệu</label>
			<select name="brand" class="col-12 col-md-9 form-control">
				{{#each brands}}
				<option value={{this.brandID}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group d-flex">
			<label for="name" class="col-12 col-md-3 ">Tên sản phẩm</label>
			<input type="text" name="name" placeholder="Tên sản phẩm" class="form-control col-12 col-md-9" required="">
		</div>
		<div class="form-group d-flex">
			<label for="price" class="col-12 col-md-3">Giá sản phẩm</label>
			<input type="text" name="price" placeholder="Giá sản phẩm" class="form-control col-12 col-md-9"
				data-parsley-type="digits" data-parsley-minlength="5">
		</div>

		<div class="form-group d-flex">
			<label for="description" class="col-12 col-md-3">Mô tả sản phẩm</label>
			<textarea class="form-control col-12 col-md-9" rows="3" name="description"
				placeholder="Mô tả sản phẩm"></textarea>
		</div>
		<div class="form-group d-flex">
			<label class="col-12 col-md-3">Size:</label>
			<input type="text" name="size" class="form-control col-12 col-md-9" required="">
		</div>
		<div class="form-group d-flex">
			<label for="file-multiple-input" class="col-12 col-md-3">Hình ảnh sản
				phẩm</label>
			<input type="file" accept="image/*" name="file" class="form-control-file col-12 col-md-9">
		</div>
		<hr>
		<button type="submit" class="btn btn-success">
			<i class="fas fa-plus"></i> Thêm
		</button>
		<button type="reset" class="btn btn-default">
			<i class="fas fa-sync-alt"></i> Nhập lại
		</button>
	</form>
</section>