<section class="container">
    <form class="paper" id="newBrand">
        <div class="form-group">
            <label>Tên thương hiệu</label>
            <input class="form-control" name="name" placeholder="Nhập tên thương hiệu">
        </div>
        <div class="form-group">
            <label>Hình đại diện thương hiệu</label>
            <input type="file" class="form-control-file" name="image">
        </div>
        <hr>
        <button class="btn btn-success">Thêm mới</button>
        <button class="btn btn-default">Nhập lại</button>
    </form>
</section>