<section class="container">
    {{#if flash}}
    {{#each flash}}
    <div class="alert alert-danger" role="alert">
        {{this}}
    </div>
    {{/each}}
    {{/if}}
    <div class="d-flex justify-content-start flex-wrap">
        {{#each brands}}
        <div class="paper col-3">
            <a href="/brands/detail/{{this.slug}}">
                <img src={{this.img}}>
                <b>{{this.name}}</b>
            </a>
        </div>
        {{/each}}
    </div>
</section>